USE [master]
GO
/****** Object:  Database [test]    Script Date: 2018/10/8 11:25:56 ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\test.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\test_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[people]    Script Date: 2018/10/8 11:25:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people](
	[number] [nchar](10) NOT NULL,
	[name] [nchar](10) NULL,
	[explains] [nchar](10) NULL,
 CONSTRAINT [PK_people] PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[zhuce]    Script Date: 2018/10/8 11:25:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zhuce](
	[phone] [nvarchar](50) NOT NULL,
	[name] [nchar](10) NULL,
	[sex] [nchar](10) NULL,
	[date] [nchar](10) NULL,
 CONSTRAINT [PK_zhuce] PRIMARY KEY CLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[people] ([number], [name], [explains]) VALUES (N'2         ', N'2         ', N'2         ')
INSERT [dbo].[zhuce] ([phone], [name], [sex], [date]) VALUES (N'13699736581', N'交通        ', N'男         ', N'2018-10-08')
INSERT [dbo].[zhuce] ([phone], [name], [sex], [date]) VALUES (N'13699736582', N'1         ', N'1         ', N'1         ')
INSERT [dbo].[zhuce] ([phone], [name], [sex], [date]) VALUES (N'13699736584', N'三等奖       ', NULL, N'2018-10-08')
USE [master]
GO
